<nav
  class="navbar navbar-expand navbar-light bg-light mb-3"
  style="direction: rtl"
>
  <a class="navbar-brand" href="#">Maktab 45</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <ion-icon name="home-outline"></ion-icon> خانه
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"
          ><ion-icon name="call-outline"></ion-icon> تماس با ما</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"
          ><ion-icon name="information-circle-outline"></ion-icon> درباره ما</a
        >
      </li>
    </ul>
  </div>
</nav>
