<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>درباره ما</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="assets/main.css" />
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header') %>

      <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container">
          <h1 class="display-2 text-center h1-text">درباره ما</h1>
          <p class="lead text-center mt-4">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
            در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را
            می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
            الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
          </p>
        </div>
      </div>
      <div class="card-deck mt-5 mb-5">
        <div class="card">
          <img
            class="card-img-top"
            src="./img/person-01.jpg"
            height="280px"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Jane Doe</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">CEO & Founder</li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Some text that describes me.</li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">jane@example.com</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-dark w-100">Contact</button>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="./img/person-02.jpg"
            height="280px"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Mike Ross</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Developer</li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Some text that describes me.</li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">mike@example.com</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-dark w-100">Contact</button>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="./img/person-03.jpg"
            height="280px"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Developer</li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Some text that describes me.</li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">john@example.com</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-dark w-100">Contact</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
